@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

a,
a:link,
a:hover,
a:active {
  color: yellow;
}

a:visited {
  color: #495512;
}

body {
  display: flex;
  color: #EAF0CE;
  background-color: #124E78;
  font-family: system-ui, "Roboto", sans-serif;
}
@media screen and (min-width: 52rem) {
  body {
    background-color: red;
  }
}
body .container {
  background-color: #1d1e2c;
}
@media screen and (min-width: 52rem) {
  body .container {
    background-color: purple;
  }
}

nav {
  height: 4rem;
  background-color: #1d1e2c;
  display: flex;
  justify-content: space-between;
}
nav > a {
  background-color: #8A95A5;
}
nav ul {
  display: flex;
  background-color: green;
}